.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    height: 650px;
    margin: 0 auto;
        
    h3{
        font-size: 35px;
    }
    button{
        color: white;
        font-size: 15px;
        padding: 15px 40px;
        margin-top: 22px;
    }
}
.card{
    max-width: 470px;
}