.header{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 90px;
    text-align: center;

    h1{
        font-size: 80px;
        color: white;
    }
    button{
        color: white;
        border-radius: 5px;
        font-size: 20px;
        border: none;
        background-color: #FFFFFF66;
        cursor: pointer;
        padding: 20px 80px;
        }
}
.back{
    height: 80vh;
}