.card{
    background: url("../../img//img19.png") no-repeat center center ;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    .left{
        h1{
            font-size: 64px;
            color: white;
            max-width: 480px;
        }
    }
    .right{ 
        display: flex;
        flex-direction: column;
        gap: 35px;
        max-width: 560px;
        a{
            color: white;
            gap: 30px;
            font-size: 18px;
            padding: 0px 40px;
        }
        p{
            color: white;
            font-size: 20px;
            margin-bottom: 10px;
            text-align: end;
   
        }
    }
}