.app{
    background: url("./img/img1.png") no-repeat center center  ;
    background-size: cover;
    height: 100vh;
}
@media screen and (max-width: 768px) {
    .app{
        width: 100%;
        height: auto;
    }
  }